.boost{
    background-color: $DarkViolet;
    background-image: url('/static/images/bg-boost-mobile.svg');
    background-position: right;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    padding: 3em 1em;

    &__box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title{
        color: white
    }

    &__button{
        @include button;
        padding-top: .8em;
        padding-bottom: .8em;

        font-weight: 700;
    }
}

@media screen and (min-width:1024px){
    .boost{
        background-image: url('/static/images/bg-boost-desktop.svg');

        &__title{
            font-size: 2em;
        }
    }
}

@media screen and (min-width:1240px){
    .boost{
        &__title{
            font-size: 2.5em;
        }   
        &__button{
            font-size: 1.2em;
        }
    }
}