@mixin button {
    display: block;
    border: none;
    border-radius: 1000px;

    background-color: $Cyan;

    padding: .5em 1.5em;

    text-decoration: none;
    color: white;

    &:hover{
        filter: grayscale(50%) brightness(120%);
       /*  opacity: .5; */
    }
}

.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width:1024px){
    .container{
        width: 85%;
    }
}

@media screen and (min-width:1240px){
    .container{
        width: 80%;
    }
}