.header{
    overflow-x: hidden;
    padding-bottom: 1em;
    margin-top: 1.5em;

    &__img{
        &-w{
            max-width: 150%;
        }
    }

    &__text{
        text-align: center
    }

    &__title{
        font-size: 2.5em;
        color: $VeryDarkViolet;
    }
    &__paragraph{
        font-size: 1.1em;
        line-height: 25px;
        color: $GrayishViolet;
    }

    &__button{
        @include button;

        width: 35%;
        margin: 0 auto;
        margin-top: 1.5em;
        padding-top: .7em;
        padding-bottom: .7em;
        font-size: 1.1em;
    }
}

@media screen and (min-width:1024px){
    .header{
        margin-top: 3em;
        &__box{
            display: grid;
            grid-template-columns: 55% 45%;
            align-items: center;
        }

        &__img{
            grid-column: 2/3;
            grid-row: 1/2;

            &-w{
                max-width: unset;
                width: 160%;
            }
        }

        &__text{
            text-align: left;
            width: 90%;
        }

        &__title{
            margin-top: 0;
            margin-bottom: .1em;
            font-size: 3.5em;
        }

        &__paragraph{
            margin-top: 0;
        }

        &__button{
            margin-left: 0;
            width: 25%;
        }
    }
}