.short{
    &__box{
        height: 110px;
    }

    &Form{
        background-color: $DarkViolet;
        background-image: url('/static/images/bg-shorten-mobile.svg');
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 80% 80%;
        border-radius: 7px;

        position: relative;
        top: 50px;

        display: flex;
        flex-direction: column;
        padding: 1em;

        &__link{
            width: 100%;
            box-sizing: border-box;

            border: none;
            padding: .5em;
            color: $GrayishViolet;
        }

        &__error{
            
            &-input,&-invalid{
                color: $Red;
            }

            &-input{
                border: 3px solid $Red;
            }

            &-invalid{
                display: none;
                opacity: 0;
                visibility: hidden;
                transition: .5s all;

                margin: 0;
                margin-top: .3em;
                font-style: italic;
                font-size: .8em;
            }

            &-active{
                display: block;
                opacity: 1;
                visibility: visible;
            }
        }

        &__button{
            @include button;

            margin-top: 1em;
            font-weight: 700;
            font-size: 1.1em;
        }

        &__loading{
            display: none;

            &-active{
                display: block;
                color: white;
                font-size: 1.5em;
                position: absolute;
                right: 25px;
                bottom: 23.5px;

                animation: loader 2.1s linear infinite;
            }
        }

        &__link,&__button{
            border-radius: 7px;
        }
    }

    &Links{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        &__item{
            background-color: white;
            border-radius: 5px;
            padding: 1.2em;
            position: relative;
            margin: 1em 0 ;

            &::before{
                content: "";
                display: block;
                position: absolute;
                top: 50px;
                right: 0;
                width: 100%;
                height: 2px;
                background-color: $GrayLight;
            }
        }

        &__largeLink{
            margin-top: 0;
            width: 250px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &__box{
            margin-top: 1.7em;
        }

        &__link{
            text-decoration: none;
            color: $Cyan;
            display: block;
            margin: 1em 0;
        }

        &__button{
            @include button;
            border-radius: 5px;
            padding-top: .6em;
            padding-bottom: .6em;
            text-align: center;

            transition: all .5s;

            &-copied{
                background-color: $DarkViolet;
            }
        }
    }
}

@keyframes loader{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media screen and (min-width:1024px){
    .short{
        &Form{
            flex-direction: row;
            padding: 2em;

            background-image: url('/static/images/bg-shorten-desktop.svg');
            background-size: 100%;

            &__field{
                width: 75%;
            }

            &__error{
                &-invalid{
                    position: absolute;
                }
            }

            &__loading{
                &-active{
                    bottom: 45.5px;
                    right: 40px;
                }
            }

            &__link,&__button{
                padding: .8em;
            }
            &__link{
                padding-left: 1em;
            }

            &__button{
                margin: 0 auto 0 1em;
                width: 25%;
                cursor: pointer;
            }
        }

        &Links{
            &__item{
                display: flex;
                align-items: center;

                padding: .7em 1.5em;

                &::before{
                    background: none;
                    height: unset;
                    width: unset;
                    display: unset;
                }
            }

            &__largeLink{
                margin: 0;
                width: 250px;
            }

            &__box{
                margin: 0;

                display: flex;
                align-items: center;
                justify-content: right;
                margin-left: auto;

                width: 45%;
            }

            &__button{
                width: 18%;
                margin-left: 1.5em;
            }
        }
    }
}

@media screen and (min-width:1240px){
    .short{
        &Form{
            padding: 2.2em;
            top: 45px;
            &__link,&__button{
                padding: 1em;
            }
            &__link{
                font-size: 1.2em;
            }
            &__button{
                font-size: 1.3em;
            }

            &__loading-active{
                bottom: 42%;
                right: 6%;
            }
        }

        &Links{
            &__item{
                padding: 1em 2em;
            }

            &__largeLink,&__box{
                font-size: 1.2em;
            }
        }
    }
}

@media screen and (min-width:1440px){
    .short{
        &Form{
            &__link{
                font-size: 1.35em;
            }
            &__button{
                font-size: 1.45em;
            }
        }

        &Links{
            &__item{
                padding: 1.5em 2.5em;
            }

            &__largeLink,&__box{
                font-size: 1.4em;
            }
        }
    }
}